<!DOCTYPE html>
<html>

<head>
  <title>Примеры переводов</title>
</head>

<body>
  <h1>Примеры переводов</h1>

  <span>Транскрипция: <b>
      <%= transcription %>
    </b></span>
  <span>Перевод: <b>
      <%= translate %>
    </b></span>

  <% if (examples && examples.length> 0) { %>
    <ul>
      <% examples.forEach((example, index)=> { %>
        <li>
          <%= example[word].text %>
            <br />
            <%= example[word].textTranslate %>
              <form action="/submit-translation" method="POST">
                <input type="hidden" name="exampleTranslated" value="<%= example[word].textTranslate %>" />
                <input type="hidden" name="wordTranslated" value="<%= translate %>" />
                <input type="hidden" name="word" value="<%= word %>" />
                <input type="hidden" name="transcription" value="<%= transcription %>" />
                <button type="submit">Отправить</button>
              </form>
        </li>
        <% }); %>
    </ul>
    <% } else { %>
      <p>Нет доступных примеров переводов</p>
      <% } %>
</body>

</html>